footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
	height: 150px;
	background-color: #3E3E3E;
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0;
}

/* Need to figure out footer asap. fixed always keeps it attached to bottom of VP so it is in the way. */
/* absolute covers content and doesn't move with the flow of the page. */